@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p>This website is used by workers to fill in a form before they start working. The process goes as follows:</p>
<ol>
    <li>Workers enter their name</li>
    <li>They will then select from a list of equipment. They can select any number of equipment or none at all.</li>
    <li>When they are done, they need to click <b>Complete</b>.</li>
    <li>The developers haven't implemented a way to send the data yet so they sneakily added <code>console.log</code> calls for now.</li>
    <li>Our workers then copy-paste the log and email it to the developers. lol</li>
</ol>
